// ============================================================================
// Imports
// ============================================================================
@import "bourbon";
@import "neat";
@import "_partials/variables";

//keyframes

@keyframes show {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes hide {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes circule-anim {
  from {width: 0px; height: 0px; top: 260px; left: 73px;}
  to {width: 500px; height: 700px; left: -170px; top: -50px;}
}

@keyframes circule-mov {
  from {left: -130px; opacity: 1;}
  to {left: -500px; opacity: 0;}
}

@keyframes text-mov {
  from {left: 0px; opacity: 1;}
  to {left: -300px; opacity: 0;}
}

@keyframes text-show-mov {
  from {right: -200px; opacity: 0;}
  to {right: 0px; opacity: 1;}
}

//=============================================================================

body {
  margin: 0;
  padding: 0;
  font-family: 'helvetica', sans-serif;
  @include transform(translate3d(0,0,0));
}

a{
  text-decoration: none;
  color: $black;
  margin: 0px;
  padding: 0px;
}

#add {
  width: $width;
  height: $height;
  position: relative;
  border: 1px solid $charcoal;
  overflow: hidden;
  .capital{
    text-transform: uppercase;
  }
  .text1 {
    position: absolute;
    top: 220px;
    left: 0px;
    width: $width;
    font-size: 24px;
    opacity: 0;
    z-index: 3;
    animation: show 2s 1s 1 forwards, hide 1s 4s 1 forwards;
    p {
      text-align: center;
      margin: 0;
      text-align: center;
    }
  }
  .circule {
    background-color: lighten($blue, 15%);
    position: absolute;
    top: 260px;
    left: 73px;
    width: 0px;
    height: 0px;
    border-radius: 100%;
    opacity: 1;
    z-index: 20;
    animation: circule-anim 2s 3.4s 1 forwards, circule-mov 3s 7.3s 1 forwards;
  }
  .text2 {
    position: absolute;
    top: 220px;
    left: 0px;
    width: $width;
    font-size: 24px;
    opacity: 0;
    color: $white;
    z-index: 21;
    animation: show 2s 4.5s 1 forwards, text-mov 3s 7.5s 1 forwards;
    p {
      text-align: center;
      margin: 0;
    }
  }
  .image1 {
   background-image: url(../images/back-160x600-1.png);
   position: absolute;
   top: 0;
   left: 0;
   width: $width;
   height: $height;
   opacity: 0;
   z-index: 15;
   animation: show 2s 7.5s 1 forwards, hide 2s 12s 1 forwards;
    p {
      text-align: center;
      margin: 0;
      position: absolute;
      top: 200px;
      right: -200px;
      font-size: 24px;
      color: $white;
      width: $width;
      z-index: 16;
      opacity: 0;
      animation: text-show-mov 2.5s 7.6s 1 forwards, hide 2s 12s 1 forwards;
    }
  }
  .image2 {
   background-image: url(../images/back-160x600-2.png);
   position: absolute;
   top: 0;
   left: 0;
   width: $width;
   height: $height;
   opacity: 0;
   z-index: 13;
   animation: show 2s 12.3s 1 forwards;
    p {
      margin: 0;
      position: absolute;
      text-align: center;
      top: 40px;
      left: 0px;
      font-size: 24px;
      color: $white;
      width: $width;
      opacity: 0;
      z-index: 14;
      animation: show 2s 13s 1 forwards;
    }
  }
  .btn {
    position: absolute;
    background-color: $green;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid $white;
    color: $white;
    bottom: 90px;
    left: 30px;
    opacity: 0;
    z-index: 50;
    animation: show 2s 14s 1 forwards;
    &:hover {
      background-color: lighten($green, 30%);
      color: $black;
      border: 1px solid $black;
    }
    p {
      margin: 0;
    }
  }
  .endding {
    background-color: $dark-blue;
    color: $white;
    font-size: 12px;
    position: absolute;
    bottom: -88px;
    left: 0;
    width: $width;
    transition: bottom 0.5s linear;
    -webkit-transition: bottom 0.6s linear;
		-moz-transition: bottom 0.6s linear;
    opacity: 0;
    z-index: 50;
    animation: show 1s 13.5s 1 forwards;
    p {
      margin: 0;
      padding: 7px 10px;
    }
    &:after {
      content: "i";
      background-color: $dark-blue;
      color: $white;
      position: absolute;
      bottom: 83px;
      right: 2px;
      padding: 5px 7px;
    }
    &:hover {
      bottom: 0px;
    }
  }
}
