//Set color variables

$white: #fff;
$vapor: #eee;
$light-gray: #555;
$gray: #333;
$charcoal: #2d2d2d;
$black: #000;

$green: #3cb878;
$blue: #2980b9;
$dark-blue: #022033;

//Text Variables

$width : 300px;
$height : 250px;
